<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock %}
    {% if site.logo %}
        <link rel="icon" type="image/png" href="{{ site.logo.url }}">
    {% endif %}
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Starbility -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/starability-css/starability-all.css' %}"/>

    <!-- Splide.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.10/dist/css/splide.min.css">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
            </ul>
            
            <form style="margin-right: auto; width: 30em;" action="/search" method="GET"> 
                <div style="dislpay: inline !important">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="q">
                    <input class="button"type="submit" value="go">
                </div>
            </form>
            
            
            <nav class="my-2 my-md-0">

                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeProfileModal">
                        <a href="{% url 'create-image' %}" style="color: white"> Upload</a>
                    </button>
                    <a class="btn btn-outline-success" href="/user/{{ user.username }}/profile">My Repository</a>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>
                    <a class="btn btn-outline-success" href="{% url 'register' %}">Register</a>
                {% endif %}
            </nav>
        </div>
    </div>
</nav>

{% block content %} {% endblock %}

<!-- Footer -->

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<!-- Splide.js -->
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.10/dist/js/splide.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var secondarySlider = new Splide('#secondary-slider', {
            fixedWidth: 100,
            height: 60,
            gap: 10,
            cover: true,
            isNavigation: true,
            focus: 'center',
            pagination: false,
            breakpoints: {
                '600': {
                    fixedWidth: 66,
                    height: 40,
                }
            },
        }).mount();

        var primarySlider = new Splide('#primary-slider', {
            type: 'fade',
            heightRatio: 0.5,
            pagination: false,
            arrows: false,
            cover: true,
        });

        primarySlider.sync(secondarySlider).mount();
    });
</script>

<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNg9KQse_xKG1wRgfYbjf8PTAJhtnfCiE&libraries=places&callback=initAutocomplete"
        defer></script>
</body>
</html>
